<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My portfolio</title>
    <style>
        .container {
        width: 80%;
        margin: 0 auto;
      }
    </style>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->

  
  </head>
  <body>
    <header>
      <h1>Welcome to my website</h1>
    </header>

    <div class="container">

      <section id="about" class="about">
        <h2>About Me</h2>
        <p>
          Hello! I’m sadsadadadasd
        </p>
      </section>
  

  
    </div>

    <!-- <div id="calendar-component" username="EduEH"></div> -->
    <div id="calendar-container">
      <div id="calendar-component" username="Marcus17642" theme-color="#007bff"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  </body>

</html>