<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My portfolio</title>
    <style>
        .container {
        width: 80%;
        margin: 0 auto;
      }
    </style>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->

    <script type="module" defer src="https://cdn.jsdelivr.net/gh/imananoosheh/github-contributions-fetch@latest/github_calendar_widget.js"></script>
  </head>
  <body>
    <header>
      <h1>Welcome to my website</h1>
    </header>

    <div class="container">

      <section id="about" class="about">
        <h2>About Me</h2>
        <p>
          Hello! I’m sadsadadadasd
        </p>
      </section>

      <section id="projects" class="projects">
        <h2>My projects</h2>
        <div>
          <p>
            Project 1
          </p>
        </div>
        <div>
          <p>
            Project 2
          </p>
        </div>
        <div>
          <p>
            Project 3
          </p>
        </div>
      </section>

  
    </div>

    
   
      <div id="calendar-component" username="EduEH"></div>

      <ul> 
        <li> 
        <a href = "/auth/google" > 
        Google 
        </a> 
        </li> 
        </ul>
  </body>

</html>